.container_1:nth-child(odd) {
  color: #ffffff;
  border: 1px;
  width: 50% !important;
  vertical-align: top;
  border-radius:20px;
}

.container_1>div,
.gu-mirror {
  margin: 10px;
  padding: 2px;
  transition: opacity 0.2s ease-in;
  vertical-align: top;
  width: 50% !important;
  border-radius:20px;
}

.container_1>div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.container_1 img{
  max-height:2.5em;
}

/* .container_2 img{
  max-height:2.5em;
} */

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.container_1 .ex-moved {
  background-color: #000;
  width: 50% !important;
}

.container_1.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}

#left-lovehandles>div,
#right-lovehandles>div {
  cursor: initial;
}

.container_1 {
  display: table-cell;
  width: 50% !important;
  border-right: 2px solid #F4F4F4;
}

.container_1:nth-child(odd) {
  color: #ffffff;
  border: 1px;
  vertical-align: top;
  width: 50% !important;
  border-radius:20px;
}



.container_2 {
  display: table-cell;
  color: #ffffff;
  border: 1px;
  width: 50% !important;
  vertical-align: top;
  border-radius:20px;
}

.container_2 > :first-child {
  padding-top: 1rem;
}

.container_2 > :last-child {
  padding-bottom: 0.7rem;
}


.container_2>div,
.gu-mirror {
  padding: 0.3rem 1rem 0.1rem 1rem;
  transition: opacity 0.2s ease-in;
  width: 50% !important;
  border-radius:20px;
}

.container_2>div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.container_2 .ex-moved {
  background-color: #000;
  width: 50% !important;
  border-radius:20px;
}

.container_2.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
  width: 50% !important;
}



#left-lovehandles>div,
#right-lovehandles>div {
  cursor: initial;
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.image-thing {
  margin: 20px 0;
  display: block;
  text-align: center;
}

.slack-join {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  line-height: 16px;
}

/* Carbon */
#carbonads {
  position: absolute;
  display: block;
  overflow: hidden;
  margin-left: -180px;
  padding: 1em;
  max-width: calc(130px + 2em);
  background-color: #aa5579;
  text-align: center;
  font-size: 12px;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  transition: color .2s ease-in-out;
}

#carbonads a:hover {
  color: #221c3b;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 1em;
  float: right;
}

.carbon-text {
  display: block;
  margin-bottom: 1em;
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
}

@media only screen and (min-width: 320px) and (max-width: 960px) {
  #carbonads {
    position: relative;
    float: none;
    margin: 0 auto -2em;
    max-width: 330px;
  }

  #carbonads span {
    position: relative;
  }

  #carbonads>span {
    max-width: none;
  }

  .carbon-img {
    float: left;
    margin: 0 1em 0 0;
  }

  .carbon-text {
    float: left;
    margin-bottom: 0;
    max-width: calc(100% - 130px - 1em);
    text-align: left;
  }

  .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }
}

*/ .container_1 {
  display: table-cell;
}

.bubble img {
  transition: all 0.35s ease-in-out;
}

.bubble:hover img {
  transform: scale(1.05);
}
