/*  Needed for filters */

/* .hide {
  animation: hide 2s ease 0s 1 normal forwards;

}
.show {
    animation: show 2s ease 0s 1 normal forwards;

} */


.hide { /* You can play with the seconds to change the "animation" */
display: none;
opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

}
.show { /* You can play with the seconds to change the "animation" */
display: block;
	opacity: 1;

}



/* @keyframes hide {
  0%{
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
  }
}
@keyframes show {
  0%{
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
  }
  100% {
    transform: scale(1);
  }
} */


.projects {
  /* display: flex;
  background: gray;
  justify-content: center;
  align-items: center;
  min-height: 200px; */
}
.project {

  /* width: 230px;
  height: 100px;
  margin: 20px;
  padding-top: 20px;
  text-align: center; */
}
.project:nth-child(odd) {

}
.filters {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.filter {
  margin: 20px;
}
.filter:hover {
  cursor: pointer;
  color: #4A5DC8;
}

/* // For decoration only */
