.body {
  background-color: #ffffff;
  font-family: 'Karla', sans-serif;
}

.info_text {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #333333;
  padding: 0.5em 1em;
  background-color: #FAFAFA;
}

.strong {
  font-weight: 400;
}

.human_label {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #333333;
}

.human_label_2 {
  padding-top: 0.3em;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  color: #333333;
}

.robot_label {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #333333;
}

.robot_label_2 {
  padding-top: 0.3em;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  color: #333333;
}

.frame {
  display: flex;
  height: auto;
  width: 600px;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid #EAE9E9;
  /* border-radius: 10px; */
}

.frame_2 {
  display: flex;
  height: auto;
  width: 600px;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  /* border-radius: 10px; */
}

.response {
  padding-top: 0.3em;
  font-size: 40px;
  font-weight: 400;
  font-style: oblique;
  text-align: center;
  color: #333333;
}
