@import 'node_modules/dragula/dragula'


.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important
}

.gu-hide {
  display: none !important
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important
}

.gu-transit {
  opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20)
}

.gu-mirror {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80)
}

body {
  background: #3d3d3d;
  padding: 20px;
}

h1 {
  color: #000;
}

a {
  color: #ccc;
}

.container_1 {
  border: 2px dotted #ccc;
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  display: inline;
  float: left;
  margin-left: 20px;
}

.container_1 div {
  border: 2px solid #000;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  padding: 10px;
  color: #fff;
  cursor: move;
}
